<%include partials/header%>

<h1>Your results</h1>

<a href="/">Back to Search</a>

<%data["Search"].forEach(function(movie){%>
	<div class="card m-2 p-2 flex-row flex-wrap">
		<img class="card-img-left" src="<%=movie["Poster"]%>" width="170px" height="250px >
		<div class="card-body">
			<h2 class="card-title"><a href="/movie/<%=movie["imdbID"]%>"><%=movie["Title"]%> (<%=movie["Year"]%>)</a></h2>
			<p class="card-text"></p>
		</div>
	</div>
<%})%>

<%include partials/footer%>